<form [formGroup]="form">
  <label>
    Nome
    <input formControlName="name" />
  </label>

  <label>
    Escala
    <input formControlName="scale" />
  </label>

  <label>
    Marca do Veículo
    <input formControlName="vehicleBrand" />
  </label>

  <label>
    Marca Diecast
    <input formControlName="vehicleDiecastBrand" />
  </label>

  <label>
    Cor
    <input formControlName="color" />
  </label>

  <div class="actions">
    <button
      type="button"
      (click)="submit()"
      [disabled]="form.invalid || submitting">
      {{ submitting ? 'Salvando...' : 'Salvar' }}
    </button>

    <button type="button" (click)="cancel.emit()">
      Voltar
    </button>
  </div>
</form>
